/*Navigation Bar Styling*/
.ml-auto {
    margin-left: auto !important
}

.nav_name {
    background-color: #b76e79;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.top-row {
    border-bottom: 2.5px solid #D3D3D3;
    padding-top: 0px;
}

/*About Me Card Styling*/
.about-me {
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-header, .card-body {
    background-color: white;
}
.card-header {
    color: #b76e79;
    font-weight: bold;
    font-size: 24px;
    border-bottom: #D3D3D3 solid 3px;
    
}
img {
    margin: 5px;
}
h3 {
    border-bottom: #D3D3D3 solid 3px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

/*Contact Form Styling*/

form {
    border: #D3D3D3 solid 3px;
    padding: 10px;
    margin-top: 20px;
}
button {
    padding: 6px;
    
}
h2 {
    border-bottom: #D3D3D3 solid 3px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-primary {
    background-color: #b76e79;
    border-color: #b76e79;
}
.btn-primary:hover {
    background-color: #AA8C2C;
    border-color: #AA8C2C;
}

/* Styling Cards on Portfolio Page */

.card-title {
    background-color: #b76e79;
    text-align: center;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.card-img-overlay {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    margin-top: 150px;
    
   
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}
